<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Pug or Ugh - Dev</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <div></div>
  <div>
    <div>
      <p>This is the index page for the Pug or Ugh back end.</p>
      <p>Please ensure that you have started the front-end server
        by running 'npm start' from the frontend directory, then navigate to
        port 3000 on the localhost to use the app.</p>
    </div>
  </div>
</body>
</html>
