@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -o-transition: $args;
  transition: $args;
}

.link-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-decoration: none;
  display: inline;
  margin: 0;
  padding: 0;
  
  color: inherit;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: normal;
  font-size: inherit;
  box-shadow: none;
}

.link-button:hover,
.link-button:focus {
  text-decoration: none;
  box-shadow: none;
  
}

// Dog Controls
.icon-button {
  background-color: transparent;
  opacity: 0.75;
  border: 0;
  padding: 0;
  margin: 0;
  box-shadow: none;
  cursor: pointer;
  
  @include transition(opacity 0.2s);
  
  &:hover {
    opacity: 1;
  }
  
  &:active {
    position: relative;
    top: 1px;
  }
}

// Dog
.dog-header {
  background: white;
  margin: 0;
  padding: 0;
  font-family: 'Amatic SC', cursive;
  font-size: 4em;
}

.dog-card {
  background: white;
  padding: 15px 20px;
  margin-top: -9px;
}

// Utility classes

.d-flex {
  display: flex;
}

.justify-space-between {
  justify-content: space-between;
}

.justify-space-around {
  justify-content: space-around;
}

.justify-content-center {
  justify-content: center;
}

.text-center {
  text-align: center;
}

.bold {
  font-weight: bold;
}

p, div, .label-body {
  font-family: 'Josefin Sans', sans-serif;
}